
.bg2 {
    background-image: url('../../img/wcolor.jpg');
}

.bg1 {
    background-image: url(../../img/pink.jpg);
}
.fonte {font-family: 'Unica One', cursive;}

.circle-photo3 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.bg-card {
    background-color: rgb(218, 156, 136)!important;
    color: rgb(252, 252, 252);
    margin: 1rem;
}

.bg-card2 {
    background-color: rgb(218, 156, 136)!important;
    color: rgb(252, 252, 252);
    margin: 1rem;
}


.titulo {
    font-size: 22px;
    text-align: center;
    color: aliceblue;
}
.link{
    color: snow;
}
.link:hover {
    color: snow;
}